spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/msauthdb
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8082


