spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/msauthdb
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8082

security:
  jwt:
    secret: ${JWT_SECRET:hsgKLyDvmGqa2q07bGmSX9nzNXkQDKq1qDMheGLyqkvJBNxY3RNnbR5ii0ed6ljBfd+iXRqZjsO6R45oAnpDjg==}
    issuer: ${JWT_ISSUER:api.auth.com}
    access-ttl-seconds: ${JWT_ACCESS_TTL_SECONDS:3600}
    refresh-ttl-seconds: ${JWT_REFRESH_TTL_SECONDS:86400}
    refresh-token-cookie-name: ${JWT_REFRESH_TOKEN_COOKIE_NAME:refreshToken}
    cookie-secure: ${JWT_COOKIE_SECURE:true}
    cookie-http-only: ${JWT_COOKIE_HTTP_ONLY:true}
    cookie-same-site: ${JWT_COOKIE_SAME_SITE:lax}
    cookie-domain: ${JWT_COOKIE_DOMAIN:localhost}

